@import '../../styles/utils/variables';
@import url("https://fonts.googleapis.com/css?family=Bungee|Bungee+Outline");

:host {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Bungee", cursive, sans-serif;
}

.game-wrapper {
  width: 100%;
  height: 100%;
}
