@import '../styles/utils/variables';
@import '../styles/utils/functions';
@import '../styles/utils/mixins';

.site-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
}